.form_control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.input {
  font-size: 14px;
  font-weight: 400;
  color: var(--input-text-focused-color);

  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
  border-radius: 4px 0px 0px 4px;
  background-color: var(--board-detail-color);
}

.input::placeholder {
  color: var(--input-text-unfocused-color);
}

.input:focus {
  border-bottom: 2px solid var(--light-board-color);
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
