* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff4f0;
  --board-text-color: #f8e9dd;
  --board-detail-color: #ecd1bc;
  --input-text-unfocused-color: #93867b;
  --light-input-text-focused-color: #382314;
  --light-km-detail-color: #efb99c;
  --light-board-color: #ec775f;
  --dark-board-color: #d35454;
  --dark-input-bg-color: #3c3c3c;
  --dark-km-detail-color: #584848;
}

body {
  font-family: "Montserrat", sans-serif;
}
